# Pandas Basic commands

# Pandas deals with the following three data structures −

1. Series
2. DataFrame
3. Panel

# Dimension & Description
The best way to think of these data structures is that the higher dimensional data structure is a container of its lower dimensional data structure. For example, DataFrame is a container of Series, Panel is a container of DataFrame.

Data Structure	Dimensions	                  Description
Series	        1	        1D labeled homogeneous array, sizeimmutable.
Data Frames	    2	        General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed                             columns.
Panel	        3	        General 3D labeled, size-mutable array.

Building and handling two or more dimensional arrays is a tedious task, burden is placed on the user to consider the orientation of the data set when writing functions. But using Pandas data structures, the mental effort of the user is reduced.

For example, with tabular data (DataFrame) it is more semantically helpful to think of the index (the rows) and the columns rather than axis 0 and axis 1.

Mutability
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Note − DataFrame is widely used and one of the most important data structures. Panel is very less used.

In [7]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df

In [8]:
s = pd.Series()
print (s)

Series([], dtype: float64)

In [9]:
a = np.array(['a','b','c','d'])
s = pd.Series(a)
print (s)

0    a
1    b
2    c
3    d
dtype: object

In [10]:
a = np.array(['a','b','c','d'])
s = pd.Series(a, index = [100,101,102,103])
print (s)

100    a
101    b
102    c
103    d
dtype: object

In [11]:
a = {'a': 1, 'c':4, 1:'6'}
s = pd.Series(a)
print (s)

a    1
1    6
c    4
dtype: object

In [12]:
a = {'a': 1, 'c':4, 1:'6'}
s = pd.Series(a, ['c','a',1,'d'])
print (s)

c      4
a      1
1      6
d    NaN
dtype: object

In [13]:
a = pd.Series(5, index = [1,2,3,4,5])
print (a)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [15]:
a = pd.Series([1,2,3,4,5])
print(a[1])

2

In [16]:
print(a[:3])

0    1
1    2
2    3
dtype: int64

In [17]:
print(a[:-3])

0    1
1    2
dtype: int64

In [19]:
print(a[-3:])

2    3
3    4
4    5
dtype: int64

In [20]:
a = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [21]:
print (a)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [22]:
print(a['c'])

3

In [23]:
print(a[['a','b','c']])

a    1
b    2
c    3
dtype: int64